* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  color: #333;
  padding: 20px 0;
  align-items: left;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
  width: 100vw;
  height: 1px;
  background-color: #777777;
}

.menu {
  display: flex;
  gap: 20px;
  flex: 1;
  height: 50px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.search-wrapper {
  display: flex;
  gap: 10px;
  align-items: right;
  margin-left: auto;
}

.search-wrapper input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.search-icon {
  font-size: 18px;
}
