.catalog-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}

.catalog-toolbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
